#useDynLib(Compositional, .registration = TRUE)

importFrom("MASS", "mvrnorm", "cov.rob", "cov.trob")
importFrom("graphics", "filled.contour", "contour", "lines", "plot",
           "points", "abline", "hist", "legend", "text", image)

importFrom("stats", "coef", "cor", "dist", "lm", "cov", "aggregate", "optim", "optimize",
           "quantile", "sd", "rnorm", "qnorm", "nlminb", "nlm", "lm.fit", "rchisq", "deviance",
           "fitted", "glm", "pchisq", "qchisq", "resid", "rgamma",
           "runif", "var", "qt", "qf", "pf", "model.matrix", "mahalanobis")

importFrom("grDevices", "terrain.colors")
importFrom("fastR", "colVars", "mahala", "colMedians")

import("doParallel")
import("parallel")
import("foreach")
importFrom("sn", "msn.mle", "rmsn")
importFrom("mixture", "gpcm")
importFrom("fields", "image.plot", "rdist")
importFrom("grDevices", "grey")
importFrom("emplik", "el.test")

exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")


